* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.notAd {
  width: 300px;
  height: 250px;
  display: block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#ffdae3), to(#ffe7ed));
  background: -webkit-linear-gradient(left, #ffdae3, #ffe7ed);
  background: -moz-linear-gradient(left, #ffdae3, #ffe7ed);
  background: linear-gradient(to right, #ffdae3, #ffe7ed);
  cursor: pointer;
  font-family: "Arial", sans-serif;
  position: relative;
  --xMove: 0;
  --yMove: 0; }
  .notAd .parallax {
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    -moz-transition: transform 0.7s, -moz-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s, -moz-transform 0.7s; }
  .notAd:hover .parallax {
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: -webkit-transform 0.1s linear;
    -moz-transition: transform 0.1s linear, -moz-transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear, -moz-transform 0.1s linear; }
  .notAd * {
    pointer-events: none;
    position: absolute; }
  .notAd .wrapper {
    width: 100%;
    height: 100%; }
  .notAd .characters {
    left: 0;
    top: -50px; }
  .notAd .princeWrapper {
    left: 0;
    top: 0;
    -webkit-transform: translateX(-webkit-calc(6px * var(--xMove))) translateY(-webkit-calc(3px * var(--yMove)));
       -moz-transform: translateX(-moz-calc(6px * var(--xMove))) translateY(-moz-calc(3px * var(--yMove)));
            transform: translateX(calc(6px * var(--xMove))) translateY(calc(3px * var(--yMove))); }
  .notAd .prince {
    width: 145px;
    right: 7px;
    bottom: -90px;
    -webkit-animation: hidePrince 12s ease-out infinite;
       -moz-animation: hidePrince 12s ease-out infinite;
            animation: hidePrince 12s ease-out infinite; }

@-webkit-keyframes hidePrince {
  16.66667% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  20.41667% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0; }
  77.91667% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0; }
  81.66667% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@-moz-keyframes hidePrince {
  16.66667% {
    -moz-transform: translateX(0);
         transform: translateX(0);
    opacity: 1; }
  20.41667% {
    -moz-transform: translateX(150px);
         transform: translateX(150px);
    opacity: 0; }
  77.91667% {
    -moz-transform: translateX(150px);
         transform: translateX(150px);
    opacity: 0; }
  81.66667% {
    -moz-transform: translateX(0);
         transform: translateX(0);
    opacity: 1; }
  100% {
    -moz-transform: translateX(0);
         transform: translateX(0);
    opacity: 1; } }

@keyframes hidePrince {
  16.66667% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  20.41667% {
    -webkit-transform: translateX(150px);
       -moz-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0; }
  77.91667% {
    -webkit-transform: translateX(150px);
       -moz-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0; }
  81.66667% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }
  .notAd .princesWrapper {
    left: 0;
    top: 0;
    -webkit-transform: translateX(-webkit-calc(5px * var(--xMove))) translateY(-webkit-calc(3px * var(--yMove)));
       -moz-transform: translateX(-moz-calc(5px * var(--xMove))) translateY(-moz-calc(3px * var(--yMove)));
            transform: translateX(calc(5px * var(--xMove))) translateY(calc(3px * var(--yMove))); }
  .notAd .princes {
    width: 128px;
    left: 20px;
    bottom: -80px;
    -webkit-animation: hidePrinces 12s ease-out infinite;
       -moz-animation: hidePrinces 12s ease-out infinite;
            animation: hidePrinces 12s ease-out infinite; }

@-webkit-keyframes hidePrinces {
  16.66667% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  20.41667% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0; }
  77.91667% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0; }
  81.66667% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@-moz-keyframes hidePrinces {
  16.66667% {
    -moz-transform: translateX(0);
         transform: translateX(0);
    opacity: 1; }
  20.41667% {
    -moz-transform: translateX(-150px);
         transform: translateX(-150px);
    opacity: 0; }
  77.91667% {
    -moz-transform: translateX(-150px);
         transform: translateX(-150px);
    opacity: 0; }
  81.66667% {
    -moz-transform: translateX(0);
         transform: translateX(0);
    opacity: 1; }
  100% {
    -moz-transform: translateX(0);
         transform: translateX(0);
    opacity: 1; } }

@keyframes hidePrinces {
  16.66667% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  20.41667% {
    -webkit-transform: translateX(-150px);
       -moz-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0; }
  77.91667% {
    -webkit-transform: translateX(-150px);
       -moz-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0; }
  81.66667% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }
  .notAd .logoWrapper {
    left: 0;
    top: 0; }
  .notAd .logo {
    width: 138px;
    height: auto;
    left: 85px;
    bottom: 77px;
    -webkit-animation: hideLogo 12s ease-out infinite;
       -moz-animation: hideLogo 12s ease-out infinite;
            animation: hideLogo 12s ease-out infinite; }

@-webkit-keyframes hideLogo {
  16.66667% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; }
  18.54167% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0; }
  77.91667% {
    -webkit-transform: translateY(100px) scale(0.5);
            transform: translateY(100px) scale(0.5);
    opacity: 0; }
  80.80128% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; }
  100% {
    -webkit-transform: none;
            transform: none; } }

@-moz-keyframes hideLogo {
  16.66667% {
    -moz-transform: none;
         transform: none;
    opacity: 1; }
  18.54167% {
    -moz-transform: translateY(100px);
         transform: translateY(100px);
    opacity: 0; }
  77.91667% {
    -moz-transform: translateY(100px) scale(0.5);
         transform: translateY(100px) scale(0.5);
    opacity: 0; }
  80.80128% {
    -moz-transform: none;
         transform: none;
    opacity: 1; }
  100% {
    -moz-transform: none;
         transform: none; } }

@keyframes hideLogo {
  16.66667% {
    -webkit-transform: none;
       -moz-transform: none;
            transform: none;
    opacity: 1; }
  18.54167% {
    -webkit-transform: translateY(100px);
       -moz-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0; }
  77.91667% {
    -webkit-transform: translateY(100px) scale(0.5);
       -moz-transform: translateY(100px) scale(0.5);
            transform: translateY(100px) scale(0.5);
    opacity: 0; }
  80.80128% {
    -webkit-transform: none;
       -moz-transform: none;
            transform: none;
    opacity: 1; }
  100% {
    -webkit-transform: none;
       -moz-transform: none;
            transform: none; } }
  .notAd .overClouds {
    left: 0;
    top: 0;
    z-index: 1; }
  .notAd .cloudWrapper {
    left: 0;
    top: 50px;
    -webkit-animation: cloudWrapperAnim 84s linear, cloudWrapperTranslate 84s linear forwards;
       -moz-animation: cloudWrapperAnim 84s linear, cloudWrapperTranslate 84s linear forwards;
            animation: cloudWrapperAnim 84s linear, cloudWrapperTranslate 84s linear forwards; }

@-webkit-keyframes cloudWrapperAnim {
  99% {
    -webkit-transform: translateX(870px);
            transform: translateX(870px);
    opacity: 1; }
  99.1% {
    opacity: 0;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  100% {
    opacity: 1; } }

@-moz-keyframes cloudWrapperAnim {
  99% {
    -moz-transform: translateX(870px);
         transform: translateX(870px);
    opacity: 1; }
  99.1% {
    opacity: 0;
    -moz-transform: translateX(0px);
         transform: translateX(0px); }
  100% {
    opacity: 1; } }

@keyframes cloudWrapperAnim {
  99% {
    -webkit-transform: translateX(870px);
       -moz-transform: translateX(870px);
            transform: translateX(870px);
    opacity: 1; }
  99.1% {
    opacity: 0;
    -webkit-transform: translateX(0px);
       -moz-transform: translateX(0px);
            transform: translateX(0px); }
  100% {
    opacity: 1; } }

@-webkit-keyframes cloudWrapperTranslate {
  99.1% {
    left: 0; }
  100% {
    left: -270px; } }

@-moz-keyframes cloudWrapperTranslate {
  99.1% {
    left: 0; }
  100% {
    left: -270px; } }

@keyframes cloudWrapperTranslate {
  99.1% {
    left: 0; }
  100% {
    left: -270px; } }
  .notAd .cloudTranslate {
    -webkit-animation: cloudWrapperTranslate2 84s 84s linear infinite;
       -moz-animation: cloudWrapperTranslate2 84s 84s linear infinite;
            animation: cloudWrapperTranslate2 84s 84s linear infinite; }

@-webkit-keyframes cloudWrapperTranslate2 {
  99% {
    -webkit-transform: translateX(1200px);
            transform: translateX(1200px);
    opacity: 1; }
  99.03% {
    opacity: 0;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  100% {
    opacity: 1; } }

@-moz-keyframes cloudWrapperTranslate2 {
  99% {
    -moz-transform: translateX(1200px);
         transform: translateX(1200px);
    opacity: 1; }
  99.03% {
    opacity: 0;
    -moz-transform: translateX(0px);
         transform: translateX(0px); }
  100% {
    opacity: 1; } }

@keyframes cloudWrapperTranslate2 {
  99% {
    -webkit-transform: translateX(1200px);
       -moz-transform: translateX(1200px);
            transform: translateX(1200px);
    opacity: 1; }
  99.03% {
    opacity: 0;
    -webkit-transform: translateX(0px);
       -moz-transform: translateX(0px);
            transform: translateX(0px); }
  100% {
    opacity: 1; } }
  .notAd .cloudWrapper2 {
    left: -230px;
    top: 10px;
    -webkit-animation: cloudAnim2 84s 50.90909s linear infinite;
       -moz-animation: cloudAnim2 84s 50.90909s linear infinite;
            animation: cloudAnim2 84s 50.90909s linear infinite; }

@-webkit-keyframes cloudAnim2 {
  100% {
    -webkit-transform: translateX(1150px);
            transform: translateX(1150px); } }

@-moz-keyframes cloudAnim2 {
  100% {
    -moz-transform: translateX(1150px);
         transform: translateX(1150px); } }

@keyframes cloudAnim2 {
  100% {
    -webkit-transform: translateX(1150px);
       -moz-transform: translateX(1150px);
            transform: translateX(1150px); } }
  .notAd .cloud-1 {
    left: -100px;
    bottom: -120px; }
  .notAd .cloud-2 {
    left: -380px;
    bottom: -90px; }
  .notAd .cloud-3 {
    left: -600px;
    bottom: -100px; }
  .notAd .branches {
    left: 0;
    bottom: -20px; }
  .notAd .branch-1 {
    width: 165px;
    left: -30px;
    bottom: 0;
    -webkit-transform: translateX(-webkit-calc(20px * var(--xMove))) translateY(-webkit-calc(10px * var(--yMove)));
       -moz-transform: translateX(-moz-calc(20px * var(--xMove))) translateY(-moz-calc(10px * var(--yMove)));
            transform: translateX(calc(20px * var(--xMove))) translateY(calc(10px * var(--yMove))); }
  .notAd .branch-2-wrapper {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
            transform: scaleX(-1); }
  .notAd .branch-2 {
    width: 140px;
    height: 97px;
    left: -20px;
    bottom: 0;
    -webkit-transform: translateX(-webkit-calc(-10px * var(--xMove))) translateY(-webkit-calc(5px * var(--yMove)));
       -moz-transform: translateX(-moz-calc(-10px * var(--xMove))) translateY(-moz-calc(5px * var(--yMove)));
            transform: translateX(calc(-10px * var(--xMove))) translateY(calc(5px * var(--yMove))); }
  .notAd .leaves {
    left: 0;
    top: 0;
    -webkit-animation: leavesAnim 12s infinite;
       -moz-animation: leavesAnim 12s infinite;
            animation: leavesAnim 12s infinite; }
  body[data-browser="ie"] .notAd .leaves,


 body[data-browser="ie"] .leaves,
 body[data-browser="ie"] .leaves-2 {
   -webkit-animation: none !important;
       -moz-animation: none !important;
            animation: none !important;
 }

 body[data-browser="msie"] .leaves,
 body[data-browser="msie"] .leaves-2 {
   -webkit-animation: none !important;
       -moz-animation: none !important;
            animation: none !important;
 }

 body[data-browser="edge"] .leaves,
 body[data-browser="edge"] .leaves-2 {
   -webkit-animation: none !important;
       -moz-animation: none !important;
            animation: none !important;
 }

@-webkit-keyframes leavesAnim {
  16.66667% {
    -webkit-transform: translateY(0) rotateZ(0deg);
            transform: translateY(0) rotateZ(0deg);
    opacity: 1; }
  19.16667% {
    -webkit-transform: translateY(105%) rotateZ(15deg);
            transform: translateY(105%) rotateZ(15deg);
    opacity: 0; }
  20% {
    -webkit-transform: translateY(-125%) rotateZ(15deg);
            transform: translateY(-125%) rotateZ(15deg); }
  37.08333% {
    -webkit-transform: translateY(-125%) rotateZ(15deg);
            transform: translateY(-125%) rotateZ(15deg);
    opacity: 0; }
  39.58333% {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
    opacity: 1; }
  57.5% {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
    opacity: 1; }
  60% {
    -webkit-transform: translateY(125%) rotateZ(15deg);
            transform: translateY(125%) rotateZ(15deg);
    opacity: 0; }
  60.83333% {
    -webkit-transform: translateY(0) rotateZ(15deg);
            transform: translateY(0) rotateZ(15deg);
    opacity: 0; }
  77.91667% {
    -webkit-transform: translateY(0) rotateZ(15deg);
            transform: translateY(0) rotateZ(15deg);
    opacity: 0; }
  80.41667% {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
    opacity: 1; } }

@-moz-keyframes leavesAnim {
  16.66667% {
    -moz-transform: translateY(0) rotateZ(0deg);
         transform: translateY(0) rotateZ(0deg);
    opacity: 1; }
  19.16667% {
    -moz-transform: translateY(105%) rotateZ(15deg);
         transform: translateY(105%) rotateZ(15deg);
    opacity: 0; }
  20% {
    -moz-transform: translateY(-125%) rotateZ(15deg);
         transform: translateY(-125%) rotateZ(15deg); }
  37.08333% {
    -moz-transform: translateY(-125%) rotateZ(15deg);
         transform: translateY(-125%) rotateZ(15deg);
    opacity: 0; }
  39.58333% {
    -moz-transform: translateY(0) rotateZ(0);
         transform: translateY(0) rotateZ(0);
    opacity: 1; }
  57.5% {
    -moz-transform: translateY(0) rotateZ(0);
         transform: translateY(0) rotateZ(0);
    opacity: 1; }
  60% {
    -moz-transform: translateY(125%) rotateZ(15deg);
         transform: translateY(125%) rotateZ(15deg);
    opacity: 0; }
  60.83333% {
    -moz-transform: translateY(0) rotateZ(15deg);
         transform: translateY(0) rotateZ(15deg);
    opacity: 0; }
  77.91667% {
    -moz-transform: translateY(0) rotateZ(15deg);
         transform: translateY(0) rotateZ(15deg);
    opacity: 0; }
  80.41667% {
    -moz-transform: translateY(0) rotateZ(0);
         transform: translateY(0) rotateZ(0);
    opacity: 1; }
  100% {
    -moz-transform: translateY(0) rotateZ(0);
         transform: translateY(0) rotateZ(0);
    opacity: 1; } }

@keyframes leavesAnim {
  16.66667% {
    -webkit-transform: translateY(0) rotateZ(0deg);
       -moz-transform: translateY(0) rotateZ(0deg);
            transform: translateY(0) rotateZ(0deg);
    opacity: 1; }
  19.16667% {
    -webkit-transform: translateY(105%) rotateZ(15deg);
       -moz-transform: translateY(105%) rotateZ(15deg);
            transform: translateY(105%) rotateZ(15deg);
    opacity: 0; }
  20% {
    -webkit-transform: translateY(-125%) rotateZ(15deg);
       -moz-transform: translateY(-125%) rotateZ(15deg);
            transform: translateY(-125%) rotateZ(15deg); }
  37.08333% {
    -webkit-transform: translateY(-125%) rotateZ(15deg);
       -moz-transform: translateY(-125%) rotateZ(15deg);
            transform: translateY(-125%) rotateZ(15deg);
    opacity: 0; }
  39.58333% {
    -webkit-transform: translateY(0) rotateZ(0);
       -moz-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
    opacity: 1; }
  57.5% {
    -webkit-transform: translateY(0) rotateZ(0);
       -moz-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
    opacity: 1; }
  60% {
    -webkit-transform: translateY(125%) rotateZ(15deg);
       -moz-transform: translateY(125%) rotateZ(15deg);
            transform: translateY(125%) rotateZ(15deg);
    opacity: 0; }
  60.83333% {
    -webkit-transform: translateY(0) rotateZ(15deg);
       -moz-transform: translateY(0) rotateZ(15deg);
            transform: translateY(0) rotateZ(15deg);
    opacity: 0; }
  77.91667% {
    -webkit-transform: translateY(0) rotateZ(15deg);
       -moz-transform: translateY(0) rotateZ(15deg);
            transform: translateY(0) rotateZ(15deg);
    opacity: 0; }
  80.41667% {
    -webkit-transform: translateY(0) rotateZ(0);
       -moz-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0) rotateZ(0);
       -moz-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
    opacity: 1; } }
  .notAd .leaf-1 {
    left: 0px;
    top: 80px;
    -webkit-transform: rotate(-webkit-calc(30deg * (1 - var(--xMove) / 2))) scale(0.9) translateX(-webkit-calc(10px * var(--xMove))) translateY(-webkit-calc(5px * var(--yMove)));
       -moz-transform: rotate(-moz-calc(30deg * (1 - var(--xMove) / 2))) scale(0.9) translateX(-moz-calc(10px * var(--xMove))) translateY(-moz-calc(5px * var(--yMove)));
            transform: rotate(calc(30deg * (1 - var(--xMove) / 2))) scale(0.9) translateX(calc(10px * var(--xMove))) translateY(calc(5px * var(--yMove))); }
  .notAd .leaf-2 {
    right: 0px;
    top: 40px;
    -webkit-filter: blur(1px);
            filter: blur(1px);
    -webkit-transform: rotate(-webkit-calc(-100deg * (1 - var(--xMove) / 20))) scale(1.5) translateX(-webkit-calc(15px * var(--yMove) * -1)) translateY(-webkit-calc(15px * var(--xMove)));
       -moz-transform: rotate(-moz-calc(-100deg * (1 - var(--xMove) / 20))) scale(1.5) translateX(-moz-calc(15px * var(--yMove) * -1)) translateY(-moz-calc(15px * var(--xMove)));
            transform: rotate(calc(-100deg * (1 - var(--xMove) / 20))) scale(1.5) translateX(calc(15px * var(--yMove) * -1)) translateY(calc(15px * var(--xMove))); }
  .notAd .leaf-3 {
    right: -10px;
    top: 220px;
    -webkit-transform: rotate(-webkit-calc(-10deg * (1 - var(--xMove)))) translateX(-webkit-calc(10px * var(--xMove))) translateY(-webkit-calc(5px * var(--yMove)));
       -moz-transform: rotate(-moz-calc(-10deg * (1 - var(--xMove)))) translateX(-moz-calc(10px * var(--xMove))) translateY(-moz-calc(5px * var(--yMove)));
            transform: rotate(calc(-10deg * (1 - var(--xMove)))) translateX(calc(10px * var(--xMove))) translateY(calc(5px * var(--yMove))); }
  .notAd .leaf-4 {
    left: 110px;
    top: -5px;
    -webkit-transform: scale(0.6) rotate(-webkit-calc(-10deg * (1 - var(--xMove)))) translateX(-webkit-calc(7px * var(--xMove))) translateY(-webkit-calc(7px * var(--yMove)));
       -moz-transform: scale(0.6) rotate(-moz-calc(-10deg * (1 - var(--xMove)))) translateX(-moz-calc(7px * var(--xMove))) translateY(-moz-calc(7px * var(--yMove)));
            transform: scale(0.6) rotate(calc(-10deg * (1 - var(--xMove)))) translateX(calc(7px * var(--xMove))) translateY(calc(7px * var(--yMove))); }
  .notAd .leaves-2 {
    left: 0;
    top: -100%;
    opacity: 0;
    -webkit-animation: leaves2Anim 12s infinite;
       -moz-animation: leaves2Anim 12s infinite;
            animation: leaves2Anim 12s infinite; }

@-webkit-keyframes leaves2Anim {
  16.66667% {
    -webkit-transform: translateY(0) rotateZ(2deg);
            transform: translateY(0) rotateZ(2deg);
    opacity: 0; }
  19.16667% {
    -webkit-transform: translateY(105%) rotateZ(15deg);
            transform: translateY(105%) rotateZ(15deg);
    opacity: 1; }
  37.08333% {
    -webkit-transform: translateY(105%) rotateZ(15deg);
            transform: translateY(105%) rotateZ(15deg);
    opacity: 1; }
  39.58333% {
    -webkit-transform: translateY(210%) rotateZ(15deg);
            transform: translateY(210%) rotateZ(15deg);
    opacity: 0; }
  40.41667% {
    opacity: 0; }
  57.5% {
    -webkit-transform: none;
            transform: none;
    opacity: 0; }
  60% {
    -webkit-transform: translateY(105%) rotateZ(15deg);
            transform: translateY(105%) rotateZ(15deg);
    opacity: 1; }
  77.91667% {
    -webkit-transform: translateY(105%) rotateZ(15deg);
            transform: translateY(105%) rotateZ(15deg); }
  80.41667% {
    -webkit-transform: translateY(210%) rotateZ(15deg);
            transform: translateY(210%) rotateZ(15deg); }
  100% {
    -webkit-transform: translateY(210%) rotateZ(15deg);
            transform: translateY(210%) rotateZ(15deg);
    opacity: 1; } }

@-moz-keyframes leaves2Anim {
  16.66667% {
    -moz-transform: translateY(0) rotateZ(2deg);
         transform: translateY(0) rotateZ(2deg);
    opacity: 0; }
  19.16667% {
    -moz-transform: translateY(105%) rotateZ(15deg);
         transform: translateY(105%) rotateZ(15deg);
    opacity: 1; }
  37.08333% {
    -moz-transform: translateY(105%) rotateZ(15deg);
         transform: translateY(105%) rotateZ(15deg);
    opacity: 1; }
  39.58333% {
    -moz-transform: translateY(210%) rotateZ(15deg);
         transform: translateY(210%) rotateZ(15deg);
    opacity: 0; }
  40.41667% {
    opacity: 0; }
  57.5% {
    -moz-transform: none;
         transform: none;
    opacity: 0; }
  60% {
    -moz-transform: translateY(105%) rotateZ(15deg);
         transform: translateY(105%) rotateZ(15deg);
    opacity: 1; }
  77.91667% {
    -moz-transform: translateY(105%) rotateZ(15deg);
         transform: translateY(105%) rotateZ(15deg); }
  80.41667% {
    -moz-transform: translateY(210%) rotateZ(15deg);
         transform: translateY(210%) rotateZ(15deg); }
  100% {
    -moz-transform: translateY(210%) rotateZ(15deg);
         transform: translateY(210%) rotateZ(15deg);
    opacity: 1; } }

@keyframes leaves2Anim {
  16.66667% {
    -webkit-transform: translateY(0) rotateZ(2deg);
       -moz-transform: translateY(0) rotateZ(2deg);
            transform: translateY(0) rotateZ(2deg);
    opacity: 0; }
  19.16667% {
    -webkit-transform: translateY(105%) rotateZ(15deg);
       -moz-transform: translateY(105%) rotateZ(15deg);
            transform: translateY(105%) rotateZ(15deg);
    opacity: 1; }
  37.08333% {
    -webkit-transform: translateY(105%) rotateZ(15deg);
       -moz-transform: translateY(105%) rotateZ(15deg);
            transform: translateY(105%) rotateZ(15deg);
    opacity: 1; }
  39.58333% {
    -webkit-transform: translateY(210%) rotateZ(15deg);
       -moz-transform: translateY(210%) rotateZ(15deg);
            transform: translateY(210%) rotateZ(15deg);
    opacity: 0; }
  40.41667% {
    opacity: 0; }
  57.5% {
    -webkit-transform: none;
       -moz-transform: none;
            transform: none;
    opacity: 0; }
  60% {
    -webkit-transform: translateY(105%) rotateZ(15deg);
       -moz-transform: translateY(105%) rotateZ(15deg);
            transform: translateY(105%) rotateZ(15deg);
    opacity: 1; }
  77.91667% {
    -webkit-transform: translateY(105%) rotateZ(15deg);
       -moz-transform: translateY(105%) rotateZ(15deg);
            transform: translateY(105%) rotateZ(15deg); }
  80.41667% {
    -webkit-transform: translateY(210%) rotateZ(15deg);
       -moz-transform: translateY(210%) rotateZ(15deg);
            transform: translateY(210%) rotateZ(15deg); }
  100% {
    -webkit-transform: translateY(210%) rotateZ(15deg);
       -moz-transform: translateY(210%) rotateZ(15deg);
            transform: translateY(210%) rotateZ(15deg);
    opacity: 1; } }
  .notAd .leaves-2 .leaf-1 {
    left: 10px;
    top: 100px;
    -webkit-transform: rotate(-webkit-calc(30deg * (1 - var(--xMove) / 2))) scale(0.65) translateX(-webkit-calc(10px * var(--xMove))) translateY(-webkit-calc(5px * var(--yMove)));
       -moz-transform: rotate(-moz-calc(30deg * (1 - var(--xMove) / 2))) scale(0.65) translateX(-moz-calc(10px * var(--xMove))) translateY(-moz-calc(5px * var(--yMove)));
            transform: rotate(calc(30deg * (1 - var(--xMove) / 2))) scale(0.65) translateX(calc(10px * var(--xMove))) translateY(calc(5px * var(--yMove))); }
  .notAd .leaves-2 .leaf-2 {
    right: 140px;
    top: 0; }
  .notAd .leaves-2 .leaf-3 {
    right: 40px;
    top: 20px;
    -webkit-transform: scale(1.015) rotate(-webkit-calc(-10deg * (1 - var(--xMove)))) translateX(-webkit-calc(10px * var(--xMove))) translateY(-webkit-calc(10px * var(--yMove)));
       -moz-transform: scale(1.015) rotate(-moz-calc(-10deg * (1 - var(--xMove)))) translateX(-moz-calc(10px * var(--xMove))) translateY(-moz-calc(10px * var(--yMove)));
            transform: scale(1.015) rotate(calc(-10deg * (1 - var(--xMove)))) translateX(calc(10px * var(--xMove))) translateY(calc(10px * var(--yMove))); }
  .notAd .leaves-2 .leaf-4 {
    left: 140px;
    top: 190px;
    -webkit-filter: blur(1px);
            filter: blur(1px);
    -webkit-transform: scale(1.25) rotate(-webkit-calc(-10deg * (1 - var(--xMove)))) translateX(-webkit-calc(15px * var(--xMove))) translateY(-webkit-calc(17px * var(--yMove)));
       -moz-transform: scale(1.25) rotate(-moz-calc(-10deg * (1 - var(--xMove)))) translateX(-moz-calc(15px * var(--xMove))) translateY(-moz-calc(17px * var(--yMove)));
            transform: scale(1.25) rotate(calc(-10deg * (1 - var(--xMove)))) translateX(calc(15px * var(--xMove))) translateY(calc(17px * var(--yMove))); }
  .notAd .leaves-2 .leaf-5 {
    left: 10px;
    top: 25px;
    -webkit-transform: scale(0.95) rotate(-webkit-calc(-20deg * (1 - var(--xMove)))) translateX(-webkit-calc(13px * var(--xMove))) translateY(-webkit-calc(10px * var(--yMove)));
       -moz-transform: scale(0.95) rotate(-moz-calc(-20deg * (1 - var(--xMove)))) translateX(-moz-calc(13px * var(--xMove))) translateY(-moz-calc(10px * var(--yMove)));
            transform: scale(0.95) rotate(calc(-20deg * (1 - var(--xMove)))) translateX(calc(13px * var(--xMove))) translateY(calc(10px * var(--yMove))); }
  .notAd .text {
    left: 0;
    top: 85px;
    font-weight: bold;
    text-align: center;
    color: #951b58;
    font-size: 22px; }
    .notAd .text * {
      width: 100%; }
  .notAd .text-1 {
    -webkit-transform: translateY(-110px);
       -moz-transform: translateY(-110px);
            transform: translateY(-110px);
    left: 0;
    top: 5px;
    -webkit-animation: textAnim1 12s ease infinite;
       -moz-animation: textAnim1 12s ease infinite;
            animation: textAnim1 12s ease infinite;
    opacity: 0; }

@-webkit-keyframes textAnim1 {
  16.66667% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0; }
  20.83333% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; }
  37.08333% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; }
  40.83333% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0; } }

@-moz-keyframes textAnim1 {
  16.66667% {
    -moz-transform: translateY(-100px);
         transform: translateY(-100px);
    opacity: 0; }
  20.83333% {
    -moz-transform: none;
         transform: none;
    opacity: 1; }
  37.08333% {
    -moz-transform: none;
         transform: none;
    opacity: 1; }
  40.83333% {
    -moz-transform: translateY(150px);
         transform: translateY(150px);
    opacity: 0; }
  100% {
    -moz-transform: translateY(150px);
         transform: translateY(150px);
    opacity: 0; } }

@keyframes textAnim1 {
  16.66667% {
    -webkit-transform: translateY(-100px);
       -moz-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0; }
  20.83333% {
    -webkit-transform: none;
       -moz-transform: none;
            transform: none;
    opacity: 1; }
  37.08333% {
    -webkit-transform: none;
       -moz-transform: none;
            transform: none;
    opacity: 1; }
  40.83333% {
    -webkit-transform: translateY(150px);
       -moz-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(150px);
       -moz-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0; } }
  .notAd .text-2 {
    -webkit-transform: translateY(-180px);
       -moz-transform: translateY(-180px);
            transform: translateY(-180px);
    opacity: 0;
    left: 0;
    top: -10px;
    -webkit-animation: textAnim2 12s ease infinite;
       -moz-animation: textAnim2 12s ease infinite;
            animation: textAnim2 12s ease infinite; }

@-webkit-keyframes textAnim2 {
  37.08333% {
    -webkit-transform: translateY(-180px);
            transform: translateY(-180px);
    opacity: 0; }
  41.25% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; }
  57.5% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; }
  61.25% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0; } }

@-moz-keyframes textAnim2 {
  37.08333% {
    -moz-transform: translateY(-180px);
         transform: translateY(-180px);
    opacity: 0; }
  41.25% {
    -moz-transform: none;
         transform: none;
    opacity: 1; }
  57.5% {
    -moz-transform: none;
         transform: none;
    opacity: 1; }
  61.25% {
    -moz-transform: translateY(150px);
         transform: translateY(150px);
    opacity: 0; }
  100% {
    -moz-transform: translateY(150px);
         transform: translateY(150px);
    opacity: 0; } }

@keyframes textAnim2 {
  37.08333% {
    -webkit-transform: translateY(-180px);
       -moz-transform: translateY(-180px);
            transform: translateY(-180px);
    opacity: 0; }
  41.25% {
    -webkit-transform: none;
       -moz-transform: none;
            transform: none;
    opacity: 1; }
  57.5% {
    -webkit-transform: none;
       -moz-transform: none;
            transform: none;
    opacity: 1; }
  61.25% {
    -webkit-transform: translateY(150px);
       -moz-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(150px);
       -moz-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0; } }
  .notAd .text-3 {
    -webkit-transform: translateY(-190px);
       -moz-transform: translateY(-190px);
            transform: translateY(-190px);
    left: 35px;
    top: -23px;
    opacity: 0;
    opacity: 1;
    -webkit-animation: textAnim3 12s ease infinite;
       -moz-animation: textAnim3 12s ease infinite;
            animation: textAnim3 12s ease infinite; }

@-webkit-keyframes textAnim3 {
  57.5% {
    -webkit-transform: translateY(-190px);
            transform: translateY(-190px);
    opacity: 0; }
  61.66667% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; }
  77.91667% {
    -webkit-transform: none;
            transform: none;
    opacity: 1; }
  81.66667% {
    -webkit-transform: translateY(-190px);
            transform: translateY(-190px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(-190px);
            transform: translateY(-190px);
    opacity: 0; } }

@-moz-keyframes textAnim3 {
  57.5% {
    -moz-transform: translateY(-190px);
         transform: translateY(-190px);
    opacity: 0; }
  61.66667% {
    -moz-transform: none;
         transform: none;
    opacity: 1; }
  77.91667% {
    -moz-transform: none;
         transform: none;
    opacity: 1; }
  81.66667% {
    -moz-transform: translateY(-190px);
         transform: translateY(-190px);
    opacity: 0; }
  100% {
    -moz-transform: translateY(-190px);
         transform: translateY(-190px);
    opacity: 0; } }

@keyframes textAnim3 {
  57.5% {
    -webkit-transform: translateY(-190px);
       -moz-transform: translateY(-190px);
            transform: translateY(-190px);
    opacity: 0; }
  61.66667% {
    -webkit-transform: none;
       -moz-transform: none;
            transform: none;
    opacity: 1; }
  77.91667% {
    -webkit-transform: none;
       -moz-transform: none;
            transform: none;
    opacity: 1; }
  81.66667% {
    -webkit-transform: translateY(-190px);
       -moz-transform: translateY(-190px);
            transform: translateY(-190px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(-190px);
       -moz-transform: translateY(-190px);
            transform: translateY(-190px);
    opacity: 0; } }
  .notAd .sgLogo {
    width: 141px;
    position: absolute;
    left: 50px;
    top: 15px; }