///*** Libs ***///
@import './reset';


//*** Basic styles ***//

//*** Dev. Comment for production build ***//
.addBody.totalPause * {
  animation-play-state: paused !important; 
}

.addBody.resetAnim * {
  animation: none !important;
}


///*** Basic vars ***///

// Sizes
$widthAdd: 300px;
$heightAdd: 250px;

// Colors
$colorText: #3c5f99;

// Timeline
$timeTotal: 9.3;

$frame-2-start: 2;
$frame-2-anim-dur: 0.3;
$frame-2-anim-pause: 2;

$frame-3-start: $frame-2-start + $frame-2-anim-dur + $frame-2-anim-pause;
$frame-3-anim-dur: 0.3;
$frame-3-anim-pause: 2;

$frame-4-start: $frame-3-start + $frame-3-anim-dur + $frame-3-anim-pause;
$frame-4-anim-dur: 0.3;
$frame-4-anim-pause: 2;

$frame-5-start: $frame-4-start + $frame-4-anim-dur + $frame-4-anim-pause;
$frame-5-anim-dur: 0.25;
$frame-5-anim-pause: 1;

$text-dur: 0.3;
$text-delay: 0.07;

// Font
$font: 'Arial', sans-serif;

///*** Ad ***///
.notAd {
  width: $widthAdd;
  height: $heightAdd;
  overflow: hidden;
  cursor: pointer;
  font-family: $font;
  position: relative;
  
  // &::after {
  //   content: '';
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   border: 1px solid;
  //   z-index: 999;
  // }

  .parallax {
    transition: transform 0.7s;
  }

  &:hover .parallax {
    transition: transform 0.1s linear;
  }
  
  --xMove: 0;
  --yMove: 0;
  
  * {
    pointer-events: none;
  }

  *:not(br) {
    position: absolute;
  }

  .wrapper {
    width: 100%;
    height: 100%;
  }
  
  .characters {
    left: 0;
    top: 0;
  }

  .overClouds {
    z-index: 1;
  }

  .manWrapper {
    z-index: 2;
    transform: translateX(calc(10px * var(--xMove)))
               translateY(calc(7px * var(--yMove)));
  }

  .man {
    width: 100px;
    left: 70px;
    top: 60px;
    // transform: translateX(-160px);
    // transform: translateX(235px);
    animation: man $timeTotal + s ease-out infinite;
  }

  @keyframes man {
    #{percentage($frame-2-start / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur) / $timeTotal)} {
      transform: translateX(-160px);
      opacity: 0;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur + 0.01) / $timeTotal)} {
      transform: translateX(235px);
      opacity: 0;
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      transform: translateX(235px);
      opacity: 0;
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    100% {
      transform: none;
      opacity: 1;
    }
  }

  .girlWrapper {
    z-index: 1;
    transform: translateX(calc(7px * var(--xMove)))
               translateY(calc(5px * var(--yMove)));
  }

  .girl {
    width: 108px;
    right: 60px;
    top: 70px;
    // transform: translateX(-245px);
    // transform: translateX(170px);
    animation: girl $timeTotal + s ease-out infinite;
  }

  @keyframes girl {
    #{percentage($frame-2-start / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur) / $timeTotal)} {
      transform: translateX(-245px);
      opacity: 0;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur + 0.01) / $timeTotal)} {
      transform: translateX(170px);
      opacity: 0;
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      transform: translateX(170px);
      opacity: 0;
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    100% {
      transform: none;
      opacity: 1;
    }
  }

  .dogWrapper {
    transform: translateX(calc(7px * var(--xMove)))
               translateY(calc(4px * var(--yMove)));
  }

  .dog {
    left: 110px;
    top: 115px;
    transform: translateX(143px);
    // transform: translateX(-303px);
    opacity: 0;
    z-index: 1;
    animation: dog $timeTotal + s ease-out infinite;
  }

  @keyframes dog {
    #{percentage($frame-2-start / $timeTotal)} {
      transform: translateX(143px);
      opacity: 0;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-3-start) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-3-start + $frame-3-anim-dur) / $timeTotal)} {
      transform: translateX(-303px);
      opacity: 0;
    }

    100% {
      transform: translateX(-303px);
      opacity: 0;
    }
  }

  .glaciersWrapper {
    transform: translateX(calc(2.5px * var(--xMove)))
               translateY(calc(2.5px * var(--yMove)));
  }

  .glaciers {
    left: -50px;
    bottom: -25px;
  }

  .clouds {
    z-index: 0;
    height: 100%;
    transform: translateZ(0);
    animation: clouds $timeTotal * 5 + s linear alternate  infinite;
  }

  @keyframes clouds {
    100% {
      transform: translateX(calc(-100% + #{$widthAdd}));
    }
  }

  .header {
    text-align: center;
    line-height: 1;
    font-size: 22px;
    font-weight: bold;
    color: $colorText;
  }

  .logoWrapper {
    left: 0;
    top: 0;
  }

  .logo {
    left: 13px;
    top: 25px;
    // transform: translateY(-100px);
    // transform: translateX(-335px);
    // transform: translateX(335px);
    animation: logo $timeTotal + s ease-out infinite;
  }

  @keyframes logo {
    #{percentage($frame-2-start / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur) / $timeTotal)} {
      transform: translateY(-100px);
      opacity: 0;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur + 0.01) / $timeTotal)} {
      transform: translateY(-100px);
      opacity: 0;
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      transform: translateY(-100px);
      opacity: 0;
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    100% {
      transform: none;
      opacity: 1;
    }
  }

  .text-1 {
    width: 100%;
    top: 50px;
    transform: translateX(245px);
    // transform: translateX(-240px);
    opacity: 0;
    animation: text1 $timeTotal + s ease-out infinite;
  }

  @keyframes text1 {
    #{percentage($frame-2-start / $timeTotal)} {
      transform: translateX(185px);
      opacity: 0;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-3-start) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-3-start + $frame-3-anim-dur) / $timeTotal)} {
      transform: translateX(-185px);
      opacity: 0;
    }

    100% {
      transform: translateX(-185px);
      opacity: 0;
    }
  }

  .text-2 {
    width: 100%;
    top: 85px;
    transform: translateX(245px);
    transform: translateX(-240px);
    opacity: 0;
    animation: text2 $timeTotal + s ease-out infinite;
  }

  @keyframes text2 {
    #{percentage(($frame-3-start) / $timeTotal)} {
      transform: translateX(203px);
      opacity: 0;
    }

    #{percentage(($frame-3-start + $frame-3-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-4-start) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-4-start + $frame-4-anim-dur) / $timeTotal)} {
      transform: translateX(-203px);
      opacity: 0;
    }

    100% {
      transform: translateX(-203px); 
      opacity: 0;
    }
  }

  .sgLogo {
    width: 134px;
    left: 90px;
    top: 90px;
    transform: translateX(250px);
    // transform: translateX(-190px);
    opacity: 0;
    animation: sgLogo $timeTotal + s ease-out infinite;
  }

  @keyframes sgLogo {
    #{percentage(($frame-4-start) / $timeTotal)} {
      transform: translateX(187px);
      opacity: 0;
    }

    #{percentage(($frame-4-start + $frame-4-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur) / $timeTotal)} {
      transform: translateX(-192px);
      opacity: 0;
    }

    100% {
      transform: translateX(-192px);
      opacity: 0;
    }
  }

  .template {
    animation: template $timeTotal + s ease-out infinite;
  }

  @keyframes template {
    #{percentage($frame-2-start / $timeTotal)} {
      
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur) / $timeTotal)} {
      
    }

    #{percentage(($frame-3-start) / $timeTotal)} {
      
    }

    #{percentage(($frame-3-start + $frame-3-anim-dur) / $timeTotal)} {
      
    }

    #{percentage(($frame-4-start) / $timeTotal)} {
      
    }

    #{percentage(($frame-4-start + $frame-4-anim-dur) / $timeTotal)} {
      
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur) / $timeTotal)} {
      
    }

    100% {
      
    }
  }
}