///*** Libs ***///
@import './reset';


//*** Basic styles ***//

//*** Dev. Comment for production build ***//
.addBody.totalPause * {
  animation-play-state: paused !important;
}

.addBody.resetAnim * {
  animation: none !important;
}

// html,
// body {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   overflow: hidden;
//   background-color: lightgrey;
// }


///*** Basic vars ***///

// Sizes
$widthAdd: 728px;
$heightAdd: 90px;

// Colors
$colorBg: #ffdae3;
$colorText: #951b58;

// Timeline
$timeTotal: 15;

$frame-2-start: 2;
$frame-2-anim-dur: 0.25;
$frame-2-anim-pause: 2;

$frame-3-start: $frame-2-start + $frame-2-anim-dur + $frame-2-anim-pause;
$frame-3-anim-dur: 0.25;
$frame-3-anim-pause: 3.55;

$frame-4-start: $frame-3-start + $frame-3-anim-dur + $frame-3-anim-pause;
$frame-4-anim-dur: 0.25;
$frame-4-anim-pause: 3.55;

$frame-5-start: $frame-4-start + $frame-4-anim-dur + $frame-4-anim-pause;
$frame-5-anim-dur: 0.25;
$frame-5-anim-pause: 1;

// Font
$font: 'Arial', sans-serif;


///*** Ad ***///
.notAd {
  width: $widthAdd;
  height: $heightAdd;
  overflow: hidden;
  background-color: $colorBg;
  cursor: pointer;
  font-family: $font;
  position: relative;

  .parallax {
    transition: transform 0.7s;
  }

  &:hover .parallax {
    transition: transform 0.1s linear;
  }
  
  --xMove: 0;
  --yMove: 0;
  
  * {
    pointer-events: none;
  }

  *:not(br) {
    position: absolute;
  }

  .wrapper {
    width: 100%;
    height: 100%;
  }
  
  .characters {
    left: 0;
    top: 0;
    animation: princessesTranslate $timeTotal + s ease-out infinite;
  }

  .princess-1 {
    width: 147px;
    position: absolute;
    left: 395px;
    top: -47px;
    animation: princesses1Translate $timeTotal + s ease-out infinite;
  }

  .princess-1-parallax {
    transform: translateX(calc(3px * var(--xMove)))
               translateY(calc(7px * var(--yMove)));
  }

  .princess-2-parallax {
    transform: translateX(calc(5.5px * var(--xMove)))
               translateY(calc(20px * var(--yMove)));
  }

  @keyframes princesses1Translate {

    #{percentage(($frame-2-start) / $timeTotal)} {
      transform: none;
    }

    #{percentage(($frame-2-start + 0.01) / $timeTotal)} {
      transform: translateX(0px);
    }

    #{percentage(($frame-4-start + 0.02) / $timeTotal)} {
      transform: translateX(-10px);
    }

    #{percentage(($frame-4-start + $frame-4-anim-dur + 0.02) / $timeTotal)} {
      transform: translateX(0);
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      transform: translateX(0);
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur / 2) / $timeTotal)} {
      transform: translateX(-50px);
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur * 1.3) / $timeTotal)} {
      transform: translateX(0);
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  .princess-2 {
    width: 112px;
    position: absolute;
    left: 507px;
    top: -32px;
    animation: princesses2Translate $timeTotal + s ease-out infinite;
  }

  @keyframes princesses2Translate {

    #{percentage(($frame-2-start) / $timeTotal)} {
      transform: none;
    }

    #{percentage(($frame-2-start + 0.01) / $timeTotal)} {
      transform: translateX(30px);
    }

    #{percentage(($frame-4-start + 0.02) / $timeTotal)} {
      transform: translateX(30px);    }

    #{percentage(($frame-4-start + $frame-4-anim-dur + 0.02) / $timeTotal)} {
      transform: translateX(0px);
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      // transform: translateY(0) translateX(-320px);
      // opacity: 0;
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur) / $timeTotal)} {
      // transform: translateY(0) translateX(0px);
      // opacity: 1;
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes princessesTranslate {
    #{percentage($frame-2-start / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur) / $timeTotal)} {
      transform: translateY(140px);
      opacity: 0;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur + 0.01) / $timeTotal)} {
      transform: translateY(140px) translateX(-320px);
      opacity: 0;
    }

    #{percentage(($frame-4-start) / $timeTotal)} {
      transform: translateY(140px) translateX(-320px);
      opacity: 0;
    }

    #{percentage(($frame-4-start + $frame-4-anim-dur) / $timeTotal)} {
      transform: translateY(0) translateX(-320px);
      opacity: 1;
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      transform: translateY(0) translateX(-320px);
      // opacity: 0;
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur) / $timeTotal)} {
      transform: translateY(0) translateX(0px);
      opacity: 1;
    }

    100% {
      transform: translateY(0) translateX(0px);
      opacity: 1;
    }
  }
  
  .princeWrapper {
    left: 0;
    top: 0;
    transform: translateX(calc(-10px * var(--xMove)))
               translateY(calc(-7px * var(--yMove)));
  }

  .logoWrapper {
    left: 0;
    top: 0;
  }

  .logo {
    left: 146px;
    bottom: 7px;
    animation: hideLogo $timeTotal + s infinite;
  }

  @keyframes hideLogo {
    #{percentage($frame-3-start / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage($frame-3-start + $frame-3-anim-dur) / $timeTotal)} {
      transform: translateY(85px);
      opacity: 0;
    }

    #{percentage($frame-3-start + $frame-3-anim-dur + 0.001) / $timeTotal)} {
      transform: translateY(0) translateX(-270px) rotateZ(-5deg);
      opacity: 0;
    }

    #{percentage($frame-5-start / $timeTotal)} {
      transform: translateY(0) translateX(-270px) rotateZ(-50deg);
      opacity: 0;
    }

    #{percentage($frame-5-start + $frame-5-anim-dur ) / $timeTotal)} {
      transform: translateY(0) rotateZ(5deg);
      opacity: 1;
    }

    #{percentage($frame-5-start + $frame-5-anim-dur * 2) / $timeTotal)} {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .sgLogo {
    width: 115px;
    position: absolute;
    left: 137px;
    top: 13px;
    transform: translateY(-80px);
    opacity: 0;
    animation: translateSgLogo $timeTotal + s ease-out infinite;
  }

  @keyframes translateSgLogo {
    #{percentage(($frame-3-start) / $timeTotal)} {
      transform: translateY(-80px);
      opacity: 0;
    }

    #{percentage(($frame-3-start + $frame-3-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-4-start) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-4-start + $frame-4-anim-dur) / $timeTotal)} {
      transform: translateY(-80px);
      opacity: 0;
    }

    100% {
      transform: translateY(-80px);
      opacity: 0;
    }
  }

  .overClouds {
    left: 0;
    top: 0;
    z-index: 1;
  }

  .cloudWrapper {
    left: 0px;
    top: 0;
    z-index: 3;
    animation: cloudWrapperAnim 70 + s linear,
               cloudWrapperTranslate 70 + s linear forwards;
  }

  @keyframes cloudWrapperAnim {
    99% {
      opacity: 1;
      transform: translateX(1320px);
    }

    99.01% {
      opacity: 0;
      transform: translateX(0px);
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes cloudWrapperTranslate {
    99.1% {
      left: 0;
    }

    100% {
      left: -670px;
    }
  }

  .cloudTranslate {
    animation: cloudWrapperTranslate2 70 + s 70 + s linear infinite;
  }

  @keyframes cloudWrapperTranslate2 {
    100% {
      transform: translateX(1960px);
    }
  }

  .cloudWrapper3 {
    left: -670px;
    top: 0;
    animation: cloudAnim3 70 + s 70 / 2.3 + s linear infinite;
  }

  @keyframes cloudAnim3 {
    100% {
      transform: translateX(1960px);
    }
  }

  .cloud-1 {
    left: -100px;
    bottom: 0;
  }

  .cloud-2 {
    left: -50px;
    bottom: -30px;
    transform: scaleX(-1);
  }

  .cloud-3 {
    left: 380px;
    bottom: -40px;
  }

  .cloud-4 {
    left: 380px;
    bottom: -40px;
  }

  .cloudWrapper2 {
    left: -600px;
  }

  .branches {
    left: 0;
    bottom: -20px;
  }

  .branch-1 {
    width: 165px;
    left: -30px;
    bottom: 0;
    transform: translateX(calc(5px * var(--xMove)))
               translateY(calc(35px * var(--yMove)));
  }

  .branch-2 {
    width: 165px;
    right: -30px;
    bottom: 0;
    transform: scaleX(-1) translateX(calc(-5px * var(--xMove)))
               translateY(calc(35px * var(--yMove)));
  }

  .leaves {
    left: 0;
    top: 0;
    animation: leavesAnim $timeTotal + s infinite;
  }

  @keyframes leavesAnim {
    #{percentage(($frame-2-start) / $timeTotal)} {
      transform: translateY(0);
      opacity: 1;
    }

    #{percentage(($frame-2-start + 0.3) / $timeTotal)} {
      transform: translateY(130%);
      opacity: 0;
    }

    #{percentage(($frame-2-start + 0.3 + 0.01) / $timeTotal)} {
      transform: translateY(-130%);
      opacity: 0;
    }

    #{percentage(($frame-3-start) / $timeTotal)} {
      transform: translateY(-130%);
      opacity: 0;
    }

    #{percentage(($frame-3-start + 0.3) / $timeTotal)} {
      transform: translateY(0);
      opacity: 1;
    }

    #{percentage(($frame-4-start) / $timeTotal)} {
      transform: translateY(0);
      opacity: 1;
    }

    #{percentage(($frame-4-start + 0.3) / $timeTotal)} {
      transform: translateY(-130%);
      opacity: 0;
    }

    #{percentage(($frame-4-start + 0.3 + 0.01) / $timeTotal)} {
      transform: translateY(0%) translateX(-55%);
      opacity: 0;
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      transform: translateY(0%) translateX(-55%);
      opacity: 0;
    }

    #{percentage(($frame-5-start + 0.3) / $timeTotal)} {
      transform: translateY(0%) translateX(0);
      opacity: 1;
    }

    100% {
      transform: translateY(0%) translateX(0);
      opacity: 1;
    }
  }

  .leaves-2 {
    left: 0;
    top: -130%;
    opacity: 0;
    animation: leavesAnim2 $timeTotal + s infinite;
  }

  @keyframes leavesAnim2 {
    #{percentage(($frame-2-start) / $timeTotal)} {
      opacity: 0;
      transform: translateY(0);
    }

    #{percentage(($frame-2-start + 0.3) / $timeTotal)} {
      opacity: 1;
      transform: translateY(130%);
    }

    #{percentage(($frame-3-start) / $timeTotal)} {
      opacity: 1;
      transform: translateY(130%);
    }

    #{percentage(($frame-3-start + 0.3) / $timeTotal)} {
      opacity: 0;
      transform: translateY(260%);
    }

    #{percentage(($frame-4-start) / $timeTotal)} {
      opacity: 0;
      transform: translateY(260%);
    }

    #{percentage(($frame-4-start + 0.3) / $timeTotal)} {
      opacity: 1;
      transform: translateY(130%);
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      opacity: 1;
      transform: translateY(130%);
    }

    #{percentage(($frame-5-start + 0.1) / $timeTotal)} {
      opacity: 0;
    }


    #{percentage(($frame-5-start + 0.3) / $timeTotal)} {
      opacity: 0;
      transform: translateY(130%) translateX(100%);
    }

    100% {
      opacity: 0;
      transform: translateY(130%) translateX(100%);
    }
  }

  .leaf-1 {
    left: 60px;
    top: -7px;
    transform: rotate(calc(30deg * (1 - var(--xMove) / 2)))
               scale(0.9)
               translateX(calc(10px * var(--xMove)))
               translateY(calc(25px * var(--yMove)));
  }

  .leaf-2 {
    left: 260px;
    bottom: -10px;
    filter: blur(1px);
    transform: rotate(calc(-90deg * (1 - var(--xMove) / 20)))
               scale(1.8)
               translateX(calc(25px * var(--yMove) * -1))
               translateY(calc(7px * var(--xMove)));
  }

  .leaves-2 .leaf-1 {
    left: 45px;
    top: 15px;
    transform: rotate(calc(-5deg * (1 - var(--xMove) / 2)))
               scale(0.9)
               translateX(calc(10px * var(--xMove)))
               translateY(calc(25px * var(--yMove))); 
  }

  .leaves-2 .leaf-2 {
    left: 340px;
    bottom: -10px;
    filter: blur(1px);
    transform: rotate(calc(-90deg * (1 - var(--xMove) / 20)))
               scale(1.8)
               translateX(calc(25px * var(--yMove) * -1))
               translateY(calc(7px * var(--xMove)));
  }

  .leaf-3 {
    left: 320px;
    bottom: 50px;
    transform:  translateX(calc(10px * var(--xMove)))
               translateY(calc(5px * var(--yMove)));
  }

  .leaves-2 .leaf-3 {
    left: 310px;
    bottom: 50px;
    transform: rotateZ(10deg)
               translateX(calc(10px * var(--xMove)))
               translateY(calc(5px * var(--yMove)));
  }

  .text {
    left: 150px;
    top: 0;
    font-weight: bold;
    text-align: center;
    color: $colorText;
    font-size: 21px;
    
    * {
      width: 100%;
    }
  }

  .text-1 {
    top: 20px;
    transform: translateY(-70px);
    animation: textAnim1 $timeTotal + s ease-out infinite;
    opacity: 0;
  }

  @keyframes textAnim1 {
    #{percentage($frame-2-start / $timeTotal)} {
      transform: translateY(-100px);
      opacity: 0;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-3-start) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-3-start + $frame-3-anim-dur) / $timeTotal)} {
      transform: translateY(75px);
      opacity: 0;
    }

    100% {
      transform: translateY(75px);
      opacity: 0;
    }
  }

  .text-2 {
    top: 18px;
    transform: translateY(-70px);
    opacity: 0;
    animation: textAnim2 $timeTotal + s ease-out infinite;
  }

  @keyframes textAnim2 {
    #{percentage(($frame-3-start) / $timeTotal)} {
      transform: translateY(-70px);
      opacity: 0;
    }

    #{percentage(($frame-3-start + $frame-3-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-4-start) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-4-start + $frame-4-anim-dur) / $timeTotal)} {
      transform: translateY(-70px);
      opacity: 0;
    }

    100% {
      transform: translateY(-70px);
      opacity: 0;
    }
  }

  .text-3 {
    top: 32px;
    transform: translateY(57px);
    opacity: 0;
    animation: textAnim3 $timeTotal + s ease-out infinite;
  }

  @keyframes textAnim3 {
    #{percentage(($frame-4-start) / $timeTotal)} {
      transform: translateY(57px);
      opacity: 0;
    }

    #{percentage(($frame-4-start + $frame-4-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur) / $timeTotal)} {
      transform: translateX(305px);
      opacity: 0;
    }

    100% {
      transform: translateX(305px);
      opacity: 0;
    }
  }
}