///*** Libs ***///
@import './reset';


//*** Basic styles ***//

//*** Dev. Comment for production build ***//
.addBody.totalPause * {
  animation-play-state: paused !important; 
}

.addBody.resetAnim * {
  animation: none !important;
}


///*** Basic vars ***///

// Sizes
$widthAdd: 300px;
$heightAdd: 250px;

// Colors
$colorText: white;

// Timeline
$timeTotal: 9.5;

$frame-2-start: 2;
$frame-2-anim-dur: 0.3;
$frame-2-anim-pause: 2;

$frame-3-start: $frame-2-start + $frame-2-anim-dur + $frame-2-anim-pause;
$frame-3-anim-dur: 0.3;
$frame-3-anim-pause: 2;

$frame-4-start: $frame-3-start + $frame-3-anim-dur + $frame-3-anim-pause;
$frame-4-anim-dur: 0.3;
$frame-4-anim-pause: 2;

$frame-5-start: $frame-4-start + $frame-4-anim-dur + $frame-4-anim-pause;
$frame-5-anim-dur: 0.25;
$frame-5-anim-pause: 1;

$text-dur: 0.3;
$text-delay: 0.07;

// Font
$font: 'Arial', sans-serif;


///*** Ad ***///
.notAd {
  width: $widthAdd;
  height: $heightAdd;
  overflow: hidden;
  cursor: pointer;
  font-family: $font;
  position: relative;
  
  // &::after {
  //   content: '';
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   border: 2px hotpink solid;
  //   z-index: 999;
  // }

  .parallax {
    transition: transform 0.7s;
  }

  &:hover .parallax {
    transition: transform 0.1s linear;
  }
  
  --xMove: 0;
  --yMove: 0;
  
  * {
    pointer-events: none;
  }

  *:not(br) {
    position: absolute;
  }

  .wrapper {
    width: 100%;
    height: 100%;
  }

  .overClouds {
    z-index: 1;
  }

  .grassWrapper {
    transform: translateX(calc(5px * var(--xMove)))
               translateY(calc(3px * var(--yMove)));
    z-index: 2;
  }

  .grass {
    // transform: translateY(120px);
    left: calc(50% - #{357px / 2});
    bottom: -35px;
    animation: template $timeTotal + s ease-out infinite;
  }

  @keyframes template {
    #{percentage(($frame-4-start) / $timeTotal)} {
      transform: none;
    }

    #{percentage(($frame-4-start + $frame-4-anim-dur) / $timeTotal)} {
      transform: translateY(120px);
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      transform: translateY(120px);
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur) / $timeTotal)} {
      transform: none;
    }

    100% {
      transform: none;
    }
  }

  .branch-1-wrapper {
    z-index: 2;
    transform: translateX(calc(10px * var(--xMove)))
               translateY(calc(7px * var(--yMove)));
  }

  .branch-1 {
    left: -45px;
    bottom: -5px;
  }

  .branch-2-wrapper {
    z-index: 2;
    transform: translateX(calc(10px * var(--xMove)))
               translateY(calc(7px * var(--yMove)));
  }

  .branch-2 {
    right: -42px;
    bottom: -5px;
    transform: scaleX(-1);
  }

  .zombieWrapper {
    transform: translateX(calc(2.5px * var(--xMove)))
               translateY(calc(1.5px * var(--yMove)));
  }

  .zombie {
    left: 86px;
    bottom: 45px;
    transform-origin: 50% 100%;
    animation: zombie $timeTotal + s ease-out infinite;
  }

  @keyframes zombie {
    #{percentage($frame-2-start / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur / 1.5) / $timeTotal)} {
      transform: translateY(0px) scale(0.35);
      opacity: 1;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur / 1.5 + 0.01) / $timeTotal)} {
      opacity: 0;
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur / 1.1) / $timeTotal)} {
      transform: translateY(0px) scale(0.35);
      opacity: 0;
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur / 1.1 + $frame-5-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    100% {
      transform: none;
      opacity: 1;
    }
  }

  .text {
    color: $colorText;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 2px rgba(0,53,132,0.85);
  }

  .text-1 {
    width: 100%;
    top: 46px;
    transform: translateX(-195px);
    opacity: 0;
    animation: text-1 $timeTotal + s ease-out infinite;
  }

  @keyframes text-1 {
    #{percentage($frame-2-start / $timeTotal)} {
      transform: translateX(-195px);
      opacity: 0;
    }

    #{percentage(($frame-2-start + $frame-2-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-3-start) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-3-start + $frame-3-anim-dur) / $timeTotal)} {
      transform: translateX(198px);
      opacity: 0;
    }

    100% {
      transform: translateX(198px);
    }
  }

  .text-2 {
    width: 100%;
    top: 30px;
    z-index: 2;
    transform: translateX(-215px);
    opacity: 0;
    animation: text-2 $timeTotal + s ease-out infinite;
  }

  @keyframes text-2 {
    #{percentage(($frame-3-start) / $timeTotal)} {
      transform: translateX(-215px);
      opacity: 0;
    }

    #{percentage(($frame-3-start + $frame-3-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-4-start) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-4-start + $frame-4-anim-dur) / $timeTotal)} {
      transform: translateY(215px);
      opacity: 0;
    }

    100% {
      transform: translateY(215px);
    }
  }

  .text-3 {
    width: 100%;
    top: 90px;
    transform: translateY(-190px);
    opacity: 0;
    animation: text-3 $timeTotal + s ease-out infinite;
  }

  @keyframes text-3 {
    #{percentage(($frame-4-start) / $timeTotal)} {
      transform: translateY(-190px);
      opacity: 0;
    }

    #{percentage(($frame-4-start + $frame-4-anim-dur) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-5-start) / $timeTotal)} {
      transform: none;
      opacity: 1;
    }

    #{percentage(($frame-5-start + $frame-5-anim-dur) / $timeTotal)} {
      transform: translateY(-190px);
      opacity: 0;
    }

    100% {
      transform: translateY(-190px);
    }
  }

  .sgLogo {
    width: 128px;
    left: 93px;
    filter: drop-shadow(0px 1px 2px rgba(0,53,132,0.85));
  }

  .clouds {
    z-index: 0;
    height: 100%;
    right: 0;
    transform: translateZ(0);
    animation: clouds $timeTotal * 4 + s linear alternate  infinite;
  }

  @keyframes clouds {
    100% {
      transform: translateX(calc(100% - #{$widthAdd}));
    }
  }
}